* {
  margin: 0;
  scroll-behavior: smooth;
}

.paddings {
  padding: 8px 160px;
}

body {
  background-image: url(./assets/img/Notiz\ App_Hintergrund.png);
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  height: 80px;
  padding-top: 20px;
}

.navigation {
  margin: 0;
  width: 800px;
  display: flex;
  justify-content: space-between !important;
  gap: 40px;
}

.logo {
  height: 80px;
  width: auto;
}

.headline {
  width: auto;
  display: flex;
  align-items: center;
  gap: 120px;
}

.note_box {
  height: 32px;
  width: 184px;
  padding-left: 16px;
  border: 2px solid rgb(80, 73, 7);
  border-radius: 24px;
  font-weight: bold;
}

.add_button {
  height: 40px;
  width: 160px;
  padding-left: 8px;
  border: 0;
  border-radius: 24px;
  color: rgb(255, 255, 255);
  background-color: #EECB00;
  font-weight: bold;
}

.add_button:hover {
  height: 40px;
  width: 160px;
  padding-left: 8px;
  border: 1px solid #ffffff;
  border-radius: 24px;
  color: rgb(255, 255, 255);
  background-color: #ffc34b;
  font-weight: bold;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #EECB00;
  margin-top: 10px;
}

.note_content {
  min-height: 200px;
  border: 4px solid #EECB00;
  border-radius: 16px;
  padding: 8px;
}

.notes_titel {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.trash_titel {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.trash_content {
  min-height: 200px;
  border: 4px solid #EECB00;
  border-radius: 16px;
  padding: 8px;
}

/* INPUT Vorlage */
.note_template_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #EECB00;
  background-color: rgb(248, 246, 232);
  border-radius: 16px;
  margin: 4px 0px;
}

.note_template_box:hover {
  padding: 10px;
  border: 2px solid #ffc34b;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  margin: 3px 0px;
}

.checkbox {
  background-color: white;
  border: 1 #0076ff;
  padding-left: 16px;
}

.note_text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.delete_button {
  background-color: #fffbc0;
  height: 34px;
  width: auto;
  padding-top: 4px;
  border: 2px solid #EECB00;
  border-radius: 8px;
}

.delete_icon {
  background-color: #fffbc0;
  height: 20px;
  width: auto;
}
