* {
  margin: 0;
  scroll-behavior: smooth;
}

.paddings {
  padding: 8px 160px;
}

body {
  background-image: url(./assets/img/Notiz\ App_Hintergrund.png);
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  height: 80px;
  padding-top: 20px;
}

.navigation {
  margin: 0;
  width: 800px;
  display: flex;
  justify-content: space-between !important;
  gap: 40px;
}

.logo {
  height: 80px;
  width: auto;
}

.headline {
  width: auto;
  display: flex;
  align-items: center;
  gap: 120px;
}

.input_box {
  display: flex;
  gap: 8px;
}

.note_title_box {
  height: 32px;
  width: 184px;
  padding-left: 16px;
  border: 2px solid rgb(80, 73, 7);
  border-radius: 24px;
  font-weight: bold;
}

.note_box {
  height: 32px;
  width: 334px;
  padding-left: 16px;
  border: 2px solid rgb(80, 73, 7);
  border-radius: 24px;
  font-weight: bold;
}

.add_button {
  height: 40px;
  width: 160px;
  padding-left: 8px;
  border: 0;
  border-radius: 24px;
  color: rgb(255, 255, 255);
  background-color: #eecb00;
  font-weight: bold;
}

.add_button:hover {
  height: 40px;
  width: 160px;
  padding-left: 8px;
  border: 1px solid #ffffff;
  border-radius: 24px;
  color: rgb(255, 255, 255);
  background-color: #ffc34b;
  font-weight: bold;
}

.line_header {
  height: 4px;
  width: 100%;
  background-color: #eecb00;
  margin-top: 10px;
  margin-bottom: 16px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #eecb00;
  margin-top: 10px;
}

.note_content {
  min-height: 200px;
  background-color: rgb(255, 255, 255, 0.2);
  border: 4px solid #eecb00;
  border-radius: 16px;
  padding: 8px;
}

.archived_note_content {
  min-height: 200px;
  background-color: rgb(255, 255, 255, 0.2);
  border: 4px solid #eecb00;
  border-radius: 16px;
  padding: 8px;
}

.notes_title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.archived_notes_title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.trash_title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.trash_content {
  min-height: 200px;
  background-color: rgb(255, 255, 255, 0.2);
  border: 4px solid #eecb00;
  border-radius: 16px;
  padding: 8px;
}

/* INPUT Vorlage */
.note_template_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #eecb00;
  background-color: rgb(248, 246, 232);
  border-radius: 16px;
  margin: 4px 0px;
}

.note_template_box:hover {
  padding: 10px;
  border: 2px solid #ffc34b;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  margin: 3px 0px;
}

.checkbox {
  background-color: white;
  border: 1 #0076ff;
  padding-left: 16px;
}

.note_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.note_text_checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.option_button {
  background-color: #fffbc0;
  height: 34px;
  width: auto;
  padding-top: 4px;
  border: 2px solid #eecb00;
  border-radius: 8px;
}

.section_icon {
  background-color: #fffbc0;
  height: 20px;
  width: auto;
}

.option_icon {
  background-color: #fffbc0;
  height: 20px;
  width: auto;
}

/* === Media Querys === */

/* 1080px */
@media (max-width: 1080px) {
  .paddings {
    padding: 8px 80px;
  }

  .note_title_box {
    width: 164px;
    padding-left: 12px;
  }

  .note_box {
    width: 224px;
    padding-left: 12px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .paddings {
    padding: 8px 24px;
  }

  .input_box {
    flex-direction: column;
    gap: 8px;
  }

  .note_title_box {
    width: 92%;
    padding-left: 10px;
  }

  .note_box {
    width: 92%;
    padding-left: 12px;
  }
}
